@model Waldorf.Domain.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolStatusType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolStatusType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwsnaAccreditationLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwsnaAccreditationLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
